<%- include("components/head.ejs"); -%>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">
        <% if(trailers != "undefined" && trailers.length){ 
                if('key' in trailers[0] == true){
            %>
        <iframe title="Trailer video" width="" height="" src="https://www.youtube.com/embed/<%= trailers[0].key%>" allowfullscreen>
        </iframe>
        <% }} %>

        <section class="detail-section">
           

            <button id="btn-install-app" class="btn">Install App</button>
            <article title="<%= movie.title %>">
                <header>
                    <h1><%= movie.title %></h1>
                </header>
                <figure>
                    <img 
                    src="<%= movie.poster_path %>"
                    srcset="<%= movie.images %>"
                    alt="<%= movie.title %>">
                    <figcaption>
                        <div>Genres: <%= movie.genres %> </div>
                        <p><%= movie.overview %></p>
                    </figcaption>
                </figure>
                <button class="share hidden">Share!</button>
            </article>

            
           
            <div class="result"></div>

        </section>

        <% if(movie.credits.cast && movie.credits.cast.length) {%> 
           
        <%}%> 

        <% if(collection) { %>
            <section class="related">
                <h2>Related movies:</h2>
                <div class="wrapper">
                <% collection.forEach(relMovie =>{ %>
                    <% if(relMovie.id != movie.id){ %>
                    <article title="<%= movie.title %>">
                        <header>
                            <h3><%= relMovie.title %></h3>
                        </header>
                        <figure>
                            <a href="/movie/<%= relMovie.id%>/<%= relMovie.title.replace(/\s+/g, '-').toLowerCase(); %>">
                            <img 
                                src="<%= relMovie.poster_path %>"
                                srcset="<%= relMovie.images %>"
                                alt="<%= relMovie.title %>">
                            </a>
                        </figure>
                    </article>

                <% }}) %>
                </div>
            </section>
        <% } %>
        <section>
            <h2>Cast</h2>
            
                <% movie.credits.cast.forEach(actor => { %>
                    <!-- <%= JSON.stringify(actor, 4, null) %> -->
                
                        <div class="actor">
                            <img src="https://image.tmdb.org/t/p/w92//<%= actor.profile_path %>" alt="">
                            <div class="actor-info">
                                <p>Name: <%= actor.name %></p>
                                <p>Character: <%= actor.character%></p>
                            </div>
                        </div>
             
                <% })%>
    
        </section>
    </main>
    <%- include('components/footer.ejs') %>
