<%- include("components/head.ejs"); -%>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">
        <% if(trailers != "undefined" && trailers.length){ 
            if('key' in trailers[0] == true){
            %>
        <iframe title="Trailer video" width="" height="" src="https://www.youtube.com/embed/<%= trailers[0].key%>">
        </iframe>
        <% }} %>

        <section class="detail-section">
            <button class="share">Share!</button>

            <button id="btn-install-app" class="btn">Install App</button>
            <article title="<%= movie.title %>">
                <header>
                    <h1><%= movie.title %></h1>
                </header>
                <figure>
                    <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
                    <figcaption>
                        <div>Genres: <%= movie.genres %> </div>
                        <p><%= movie.overview %></p>
                    </figcaption>
                </figure>
            </article>
           
            <div class="result"></div>

        </section>

        <% if(collection) { %>
            <section class="related">
                <h2>Related movies:</h2>
                <% collection.forEach(movie =>{ %>

                    <article title="<%= movie.title %>">
                        <header>
                            <h3><%= movie.title %></h3>
                        </header>
                        <figure>
                            <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
                        </figure>
                    </article>

                <% }) %>
            </section>
        <% } %>

    </main>
    <%- include('components/footer.ejs') %>
