

<%- include('components/head.ejs') %>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">

        <% data.forEach((genre)=> { %>
            
        <section class="overview-section" data-genre-name="<%= genre.name %>">
            <h2><%= genre.name %></h2>
            <div class="wrapper">
                
            <% 
                genre.data.results.forEach((movie, i)=> { 
                    if(i < 4){
            %>
            
                
                    <article>
                        <h3><%= movie.title %></h3>
                        <a href="movie/<%= movie.id%>/<%= movie.slug %>">
                            <img src="<%= movie.poster_path %>" alt="<%= movie.title %>">
                        </a>
                        <div data-ui="rating"><%= movie.vote_average %></div>
                    </article>
               

            <%}})%>   
        </div>
        <form action="">
            <button>></button>
        </form>
    </section>
    <%})%>   

    </main>
    <%- include('components/footer.ejs') %>