<%- include('components/head.ejs') %>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">
        <% if( meta > 0 ) {%>
        <h2>Results: <%= query.query %></h2>
        <% }else{ %>
        <h2>We're sorry, we couldn't find results, please try again</h2>
        <% } %>
        <nav class="pagination">
            <!-- <a href="<%= query.url %>">Next</a> -->

            <% if( meta > 1 ) {%>
            <p>Page <%= query.page %> of <%= meta %></p>
         
            <a href="<%= prevPage  %>" class="page-control <%= query.page == 1 ? 'inactive': 'active'%>">Previous</a>
            <% if( query.page < meta ) {%>
            <a href="<%= nextPage  %>" class="page-control <%= query.page >= meta ? 'inactive': 'active'%>">Next</a>
            <% }} %>
        </nav>
        <div class="wrapper">

            <% data.forEach((movie)=> { %>


            <article>

                <h3><%= movie.title %></h3>
                <a href="movie/<%= movie.id%>/<%= movie.title.replace(/\s+/g, '-').toLowerCase(); %>">
                    <img 
                    src="<%= movie.poster_path %>"
                    srcset="<%= movie.images %>"
                    alt="<%= movie.title %>">
                </a>
                <div data-ui="rating"><%= movie.vote_average %></div>

            </article>


            <%})%>
        </div>

    </main>
    <%- include('components/footer.ejs') %>